<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>p</key>
	<dict>
		<key>0</key>
		<string>11001000</string>
	</dict>
	<key>c</key>
	<dict>
		<key>0</key>
		<string>00000110</string>
		<key>1</key>
		<string>00110000</string>
	</dict>
	<key>q</key>
	<dict>
		<key>0</key>
		<string>11001010</string>
	</dict>
	<key>d</key>
	<dict>
		<key>0</key>
		<string>11100000</string>
		<key>1</key>
		<string>00011100</string>
	</dict>
	<key>r</key>
	<dict>
		<key>0</key>
		<string>01001010</string>
	</dict>
	<key>e</key>
	<dict>
		<key>0</key>
		<string>00011110</string>
		<key>1</key>
		<string>11110000</string>
	</dict>
	<key>s</key>
	<dict>
		<key>0</key>
		<string>10100101</string>
	</dict>
	<key>f</key>
	<dict>
		<key>0</key>
		<string>00001110</string>
		<key>1</key>
		<string>01110000</string>
	</dict>
	<key>t</key>
	<dict>
		<key>0</key>
		<string>10100111</string>
	</dict>
	<key>g</key>
	<dict>
		<key>0</key>
		<string>00011000</string>
		<key>1</key>
		<string>11000000</string>
	</dict>
	<key>u</key>
	<dict>
		<key>0</key>
		<string>00100111</string>
	</dict>
	<key>h</key>
	<dict>
		<key>0</key>
		<string>00011010</string>
		<key>1</key>
		<string>11010000</string>
	</dict>
	<key>v</key>
	<dict>
		<key>0</key>
		<string>11100101</string>
	</dict>
	<key>i</key>
	<dict>
		<key>0</key>
		<string>00001010</string>
		<key>1</key>
		<string>01010000</string>
	</dict>
	<key>w</key>
	<dict>
		<key>0</key>
		<string>11110101</string>
		<key>3</key>
		<string>01011111</string>
		<key>1</key>
		<string>11111001</string>
		<key>2</key>
		<string>00111111</string>
	</dict>
	<key>j</key>
	<dict>
		<key>0</key>
		<string>10100100</string>
	</dict>
	<key>x</key>
	<dict>
		<key>0</key>
		<string>00101111</string>
		<key>1</key>
		<string>01001111</string>
	</dict>
	<key>k</key>
	<dict>
		<key>0</key>
		<string>10100110</string>
	</dict>
	<key>y</key>
	<dict>
		<key>0</key>
		<string>11001001</string>
	</dict>
	<key>l</key>
	<dict>
		<key>0</key>
		<string>00100110</string>
	</dict>
	<key>z</key>
	<dict>
		<key>0</key>
		<string>11001011</string>
	</dict>
	<key>m</key>
	<dict>
		<key>0</key>
		<string>11101000</string>
		<key>1</key>
		<string>11100100</string>
	</dict>
	<key>n</key>
	<dict>
		<key>3</key>
		<string>01011110</string>
		<key>0</key>
		<string>11110100</string>
		<key>1</key>
		<string>11111000</string>
		<key>2</key>
		<string>00111110</string>
	</dict>
	<key>a</key>
	<dict>
		<key>0</key>
		<string>00010100</string>
		<key>1</key>
		<string>10100000</string>
	</dict>
	<key>o</key>
	<dict>
		<key>0</key>
		<string>01001110</string>
		<key>1</key>
		<string>00101110</string>
	</dict>
	<key>b</key>
	<dict>
		<key>0</key>
		<string>00010110</string>
		<key>1</key>
		<string>10110000</string>
	</dict>
</dict>
</plist>
