<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>00000110</key>
	<string>c</string>
	<key>00001010</key>
	<string>i</string>
	<key>00001110</key>
	<string>f</string>
	<key>00010100</key>
	<string>a</string>
	<key>00010110</key>
	<string>b</string>
	<key>00011000</key>
	<string>g</string>
	<key>00011010</key>
	<string>h</string>
	<key>00011100</key>
	<string>d</string>
	<key>00011110</key>
	<string>e</string>
	<key>00100110</key>
	<string>l</string>
	<key>00100111</key>
	<string>u</string>
	<key>00101110</key>
	<string>o</string>
	<key>00101111</key>
	<string>x</string>
	<key>00110000</key>
	<string>c</string>
	<key>00111110</key>
	<string>n</string>
	<key>00111111</key>
	<string>w</string>
	<key>01001010</key>
	<string>r</string>
	<key>01001110</key>
	<string>o</string>
	<key>01001111</key>
	<string>x</string>
	<key>01010000</key>
	<string>i</string>
	<key>01011110</key>
	<string>n</string>
	<key>01011111</key>
	<string>w</string>
	<key>01110000</key>
	<string>f</string>
	<key>10100000</key>
	<string>a</string>
	<key>10100100</key>
	<string>j</string>
	<key>10100101</key>
	<string>s</string>
	<key>10100110</key>
	<string>k</string>
	<key>10100111</key>
	<string>t</string>
	<key>10110000</key>
	<string>b</string>
	<key>11000000</key>
	<string>g</string>
	<key>11001000</key>
	<string>p</string>
	<key>11001001</key>
	<string>y</string>
	<key>11001010</key>
	<string>q</string>
	<key>11001011</key>
	<string>z</string>
	<key>11010000</key>
	<string>h</string>
	<key>11100000</key>
	<string>d</string>
	<key>11100100</key>
	<string>m</string>
	<key>11100101</key>
	<string>v</string>
	<key>11101000</key>
	<string>m</string>
	<key>11101001</key>
	<string>v</string>
	<key>11110000</key>
	<string>e</string>
	<key>11110100</key>
	<string>n</string>
	<key>11110101</key>
	<string>w</string>
	<key>11111000</key>
	<string>n</string>
	<key>11111001</key>
	<string>w</string>
</dict>
</plist>
